# **Assignment 1**

---

In [14]:
def power(n, m):
	# finding n^m in log2(m) time complexity
	if m == 0:
		return 1
	
	if m % 2 == 0:
		temp =  power(n, m/2)
		return temp*temp
	else:
		temp = power(n, (m-1)/2)
		return n*temp*temp
   	 
print(power(2, 32))

4294967296

In [10]:
def course_counter(courses):
	counter = {}

	for course in courses:
		if course in counter:
			counter[course] += 1
		else:
			counter[course] = 1

	for course in counter:
		if counter[course] == 1:
			return course

courses = ['B102', 'C102', 'CS142', 'M102', 'B102', 'C102', 'M102', 'P102', 'P102']
print(course_counter(courses))

CS142

In [11]:
def number_counter(nums):
	count = {}
	for n in nums:
		if n in count:
			count[n] += 1
		else:
			count[n] = 1

	for n in count:
		if count[n] == 1:
			return n

nums = [1, 1, 2, 3, 2, 5, 5, 4, 3]
print(number_counter(nums))

4

In [12]:
def insertion_sort(lst, k):
	for i in range(1, len(lst)):
		current = lst[i]
		
		if (i+1) % k == 0:
			j = i-k
			while j >= 0 and current < lst[j]:
				lst[j+k] = lst[j]
				j -= k
			lst[j+k] = current
				
		else:    
			j = i-1
			while j >= 0 and current > lst[j]:
				if (j+1) % k == 0:
					j -= 1
					lst[j+2] = lst[j]
				else:
					lst[j+1] = lst[j]
				j -= 1
			lst[j+1] = current
	
	return lst

lst = [31, 12, 21, 55, 14, 1, 51, 30, 2, 7]
lst = [10, 7, 9, 8]
print(insertion_sort(lst, 3))

[10, 7, 9, 8]

In [13]:
def count_inversions(lst):
	inversions = 0
	for i in range(1, len(lst)):
		current = lst[i]
		j = i-1
		while j >= 0 and current < lst[j]:
			lst[j+1] = lst[j]
			j -= 1
			inversions += 1
		lst[j+1] = current
	
	return inversions

lst = [31, 12, 21, 55, 14, 1, 51, 30, 2, 7]
print('Number of inversions used:', count_inversions(lst))

Number of inversions used: 28